<div>
  <label for="new-student">RA do estudante: </label>
  <input id="new-student" #studentId />
  <label for="new-student">Nome do estudante: </label>
  <input id="new-student" #studentName />
  <label for="new-student">Idade do estudante: </label>
  <input id="new-student" #studentAge />
  <label for="new-student">Curso do estudante: </label>
  <input id="new-student" #studentCourse />
  <label for="new-student">Instituição do estudante: </label>
  <input id="new-student" #studentInstitution />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(studentId.value, studentName.value, studentAge.value, studentCourse.value, studentInstitution.value); studentName.value=''; studentId.value=''; studentAge.value=''; studentCourse.value=''; studentInstitution.value=''">
    Adicionar estudante
  </button>
</div>


    <h2>Meus Estudantes</h2>
  <ul class="heroes">
    <li *ngFor="let estudante of listaEstudantes">
      <a routerLink="/detail/{{estudante.id}}">
        <span class="badge">{{estudante.id}}</span> {{estudante.name}}
      </a>
      <button class="delete" title="delete student"
      (click)="delete(estudante)">x</button>
    </li>
  </ul>